.awh-trade-value-modal {
    .loading-trade-value {
        text-align: center;
    }

    .trade-tabs {
        margin-bottom: .75rem;

        a {
            color: #999;
            font-size: .9rem;
            text-decoration: none;

            &.active {
                color: $awh-main-color;
                cursor: default;
            }
        }
    }

    .trade-warnings {
        list-style: disc;
        border: 2px solid #F3C359;
        background-color: #FFFBF2;
        padding: .7rem 1rem .7rem 2rem;
        border-radius: .5rem;
        margin-bottom: 1.25rem;

        > li {
            color: #81621D;
            margin: .3rem 0;
            font-size: .9rem;
            line-height: 1.2rem;
        }
    }

    .trade-components {
        width: 100%;

        thead {
            text-align: left;
            font-size: .9rem;
            color: #777;
        }

        th, td {
            padding: .35rem .5rem;
            line-height: 1.25rem;
            vertical-align: middle;

            &:first-child {
                padding-left: 1rem;
            }

            &:last-child {
                padding-right: 1rem;
            }
        }

        .trade-component {
            font-size: .9rem;
            color: #111;

            &:nth-child(odd) {
                background-color: #f4f4f4;
            }
        }

        .trade-component-quantity {
            text-align: right;
        }

        .trade-component-unit-price {
            text-align: right;
        }

        .trade-component-total-price {
            text-align: right;
        }

        @media only screen and (max-width: 420px) {
            .trade-component-total-price {
                display: none;
            }
        }
    }

    .trade-messages {
        padding-top: .4rem;

        .custom-messages-notice {
            margin-top: -.35rem;
        }
    }

    .trade-message {
        margin-bottom: 1rem;
        font-size: .8rem;

        .trade-message-name {
            font-weight: 600;
            color: #aaa;
            line-height: 1rem;
            margin-bottom: .15rem;
        }

        .trade-message-body {
            line-height: 1.25rem;
            margin-bottom: -.2rem;
        }

        .trade-message-copy {
            text-decoration: none;
            color: $awh-main-color;

            &:not(.temporarily-disabled):hover .copy-text {
                text-decoration: underline;
            }

            &.temporarily-disabled {
                color: #aaa;
                text-decoration: none;
                cursor: default;
            }
        }
    }

    .awh-modal-footer {
        display: flex;
        justify-content: space-between;
        flex-flow: row-reverse wrap;
    }

    .trade-value-total {
        color: $awh-main-color;
    }

    .receipt-link {
        color: #aaa;
        font-size: .8rem;
        text-decoration: none;
    }
}