$copy-highlight-color: #f9f68b;

.awh-trade-value-modal {
    .loading-trade-value {
        text-align: center;
    }

    .announcement {
        border: 1px solid #b6d4fe;
        background-color: #cfe2ff;
        border-radius: .5rem;
        margin-bottom: 1rem;
        padding: .7rem 1rem;
        color: #084298;
        font-size: .9rem;
        line-height: 1.2rem;
    }

    .dismiss-announcement-button-wrapper {
        text-align: right;

        a {
            color: #084298;
        }
    }

    .trade-warnings {
        border: 1px solid #ffecb5;
        background-color: #fff3cd;
        border-radius: .5rem;
        margin-bottom: 1rem;

        ul {
            list-style: disc;
            padding: .7rem 1rem .7rem 2rem;

            li {
                color: #664d03;
                margin: .3rem 0;
                font-size: .9rem;
                line-height: 1.2rem;
            }
        }
    }

    .trade-total {
        padding: 1rem 0 1.5rem 0;

        .total-value {
            display: flex;
            justify-content: center;
            color: $awh-main-color;
            font-size: 1.2rem;
            margin: 0 .25rem;
        }

        .numeric-trade-value {
            transition: background-color 300ms;

            &.highlighted {
                background-color: $copy-highlight-color;
            }
        }

        .trade-total-actions {
            display: flex;
            justify-content: center;

            a {
                color: $awh-accent-color;
                margin: 0 .75rem;
                font-size: .9rem;
                text-decoration: none;

                &:hover .button-text {
                    text-decoration: underline;
                }
            }
        }
    }

    .trade-components {
        .back-to-overview-button {
            color: $awh-accent-color;
            font-size: .9rem;
            text-decoration: none;
            position: relative;
            top: -.4rem;

            &:hover {
                text-decoration: underline;
            }
        }

        .trade-components-table {
            width: 100%;

            thead {
                text-align: left;
                font-size: .9rem;
                color: #777;
            }

            th, td {
                padding: .35rem .5rem;
                line-height: 1.25rem;
                vertical-align: middle;

                &:first-child {
                    padding-left: 1rem;
                }
            }

            .trade-component {
                font-size: .9rem;
                color: #111;

                &:nth-child(odd) {
                    background-color: #f4f4f4;
                }

                input {
                    transition: box-shadow .25s;

                    &:focus {
                        box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
                    }
                }
            }

            .trade-component-quantity {
                text-align: right;
            }

            .trade-component-unit-price {
                text-align: right;
            }

            .trade-component-total-price {
                padding-right: 1rem;
                text-align: right;
            }

            .trade-components-grand-total {
                color: $awh-main-color;
                text-align: right;
                padding-top: .75rem;
                padding-right: 1rem;
            }

            @media only screen and (max-width: 420px) {
                .trade-component-quantity {
                    padding-right: 1rem;
                }
                .trade-component-total-price {
                    display: none;
                }
            }
        }
    }

    .trade-messages {
        .custom-messages-notice {
            margin-top: 1rem;
            font-size: .8rem;
            line-height: 1.25;

            a {
                color: $awh-accent-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .trade-message {
        position: relative;
        font-size: .8rem;
        margin-bottom: .5rem;

        .trade-message-name {
            font-weight: 600;
            line-height: 1.6;
            color: #aaa;
        }

        .trade-message-body {
            margin-left: 1.3rem;
            padding: 0 .1rem;
            line-height: 1.4;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: background-color 300ms;

            .receipt-link {
                color: #363636;
                text-decoration: underline;

                &:hover {
                    color: $awh-accent-color;
                }
            }
        }

        .trade-message-copy {
            position: absolute;
            left: 0;
            top: 1rem;
            text-decoration: none;
            font-size: .9rem;

            .copy-icon {
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &:not(.copy-button-enabled) .trade-message-copy {
            cursor: default;
        }

        &.copied .trade-message-body {
            background-color: $copy-highlight-color;
        }
    }
}
